{% extends 'baseback.html.twig' %}

{% block title %}Presence index{% endblock %}

{% block body %}
    <h1>Presence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Seance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr>
                <td>{{ presence.id }}</td>
                <td>{{ presence.date ? presence.date|date('Y-m-d') : '' }}</td>
                <td>{{ presence.seance }}</td>
                <td>
                   <button type="button" class="btn btn-info"> <a href="{{ path('app_presence_show', {'id': presence.id}) }}">show</a>
                    <button type="button" class="btn btn-warning"><a href="{{ path('app_presence_edit', {'id': presence.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-light"><a href="{{ path('app_presence_new') }}">Create new</a></button>
{% endblock %}
